* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', sans-serif;
    scroll-behavior: smooth;
}

* a {
    text-decoration: none;
    color: black;
}

* ul {
    list-style: none;
    display: block;
}

div.spinner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: unset;
    display: flex;
    justify-content: center;
    z-index: 999;
}

div.hidden {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: darkblue;
    padding: 1em;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 3px 30px rgba(36, 35, 35, 0.75);
    z-index: 9999;
}

header nav {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
}

header nav .logo {
    font-family: "Lucida Sans Unicode", sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


/* --------------------main section styling--------------------- */

main {
    padding: 5rem 0 0 0;
    display: grid;
    grid-template-columns: 1.5fr 5fr 1.5fr;
    height: 100vh;
    overflow: scroll;
}

main .container {
    margin-top: 1em;
    display: grid;
    grid-template-rows: 120px 1fr;
    padding: 1em;
}

main .container .search-create-login {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

main .container .search-create-login .search {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    position: relative;
}

main .container .search-create-login .search input[type="text"]#search-invoice {
    height: 45px;
    width: 210px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: auto;
    text-indent: 5px;
}

main .container .search-create-login .search button[type="submit"] {
    height: 45px;
    width: 90px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: auto;
    cursor: pointer;
    background-color: rgb(68, 65, 65);
    color: white;
    font-weight: bold;
}

main .container .search-create-login .search button[type="submit"]:hover {
    color: #111;
    background-color: #fff;
    border: 1px solid #111;
    transition: all ease-in-out .2s;
}

.hidden {
    position: unset;
    transform: scale(0);
    display: none;
}

main .container .search-create-login .search div.search-results {
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0;
    right: 50px;
    z-index: 999;
    padding: 5px 7px;
    min-height: 65px;
    max-height: max-content;
    border-radius: 6px;
    box-shadow: 0px 3px 20px #504f4f;
    display: grid;
}

.close {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    align-items: center;
}

.close div#find-count {
    font-weight: bold;
    font-size: 12px;
}

.close div#close-btn {
    display: flex;
    float: right;
    font-weight: bolder;
    cursor: pointer;
}

main .container .search-create-login .search div.search-results div.search-res {
    margin: 3px 0px;
    padding: 3px 2px;
    display: grid;
    align-items: center;
    border-bottom: 1px solid #111;
    border-radius: 5px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

main .container .search-create-login .search div.search-results div.search-res:hover {
    background-color: #dad5d5;
    color: #e30505;
}

main .container .search-create-login .search div.search-results div.search-res div.upper-hold {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
}

main .container .search-create-login .search div.search-results .res-title {
    font-weight: bold;
    font-size: 14px;
}

main .container .search-create-login .search div.search-results .price-tot {
    font-weight: bold;
    font-size: 11px;
}

main .container .search-create-login .search div.search-results .prods {
    font-weight: bold;
    font-size: 12px;
}


main .container .search-create-login .create-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

main .container .search-create-login .create,
main .container .search-create-login .login {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

main .container .search-create-login .create a,
main .container .search-create-login .login a {
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.create a {
    background: rgba(35, 167, 35, 0.901);
}

.login a {
    background-color: rgb(51, 51, 213);
}

/* on hover */
.create a:hover {
    background: rgba(19, 104, 19, 0.901);
}

.login a:hover {
    background-color: rgb(23, 23, 121);
}

/*  ------------recent invoices------------- */

main .container .recent-invoices {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


main .container .recent-invoices h2.title,
div.title {
    font-size: 17px;
    font-weight: bold;
}

main .container .recent-invoices .list-of-rec-inv ul {
    display: grid;
    gap: 5px;
    align-items: center;
}

main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item {
    padding: 25px 10px;
    display: grid;
    grid-template-columns: 1.7fr 1.3fr 1fr 2fr;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(145, 139, 139, 0.689);
    cursor: pointer;
}

main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item:hover {
    color: #f72626;
    transition: all ease-in-out .2s;
}

main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .buyer-and-item-div .buyer-name {
    font-weight: bold;
    font-size: 16px;
    text-indent: 5px;
}

main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .buyer-and-item-div .item-list {
    font-size: 11px;
    text-indent: 5px;
}

main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .date-and-time,
main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .total-amount {
    padding: 0px 5px;
    display: flex;
    gap: 5px;
    font-size: 13px;
    font-weight: bold;
}

main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .action-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .action-buttons>* {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

div.view-btn {
    background-color: rgb(234, 234, 29);
    color: #111;
}

div.delete-btn {
    background-color: rgb(192, 18, 18);
    color: white;
}

/* on hover */
main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .action-buttons>*:hover {
    color: #111;
    background-color: #fff;
}



@media (max-width:1000px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: darkblue;
        padding: 1em;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 0px 3px 30px rgba(36, 35, 35, 0.75);
        z-index: 9999;
    }

    header nav {
        display: grid;
        grid-template-columns: unset;
        justify-content: center;
        align-items: center;
    }

    header nav .logo {
        font-weight: bold;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }

    /* main section responsive */

    main {
        padding: 5rem 0 0 0;
        display: grid;
        grid-template-columns: unset;
        height: 100vh;
        overflow: scroll;
    }

    main .sidebar {
        display: none;
    }

    main .container {
        margin-top: 1em;
        display: grid;
        grid-template-rows: 200px 1fr;
        padding: 10px;
        justify-content: center;
        width: 100%;
    }

    main .container .search-create-login {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    main .container .search-create-login .search {
        display: flex;
        justify-content: unset;
        gap: 10px;
        padding: 0px 10px;
    }

    main .container .search-create-login .search div.search-results {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 5px 7px;
        min-height: 65px;
        max-height: 200px;
        overflow-y: scroll;
        border-radius: 6px;
        display: grid;
    }

    .close {
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        align-items: center;
    }

    .close div#find-count {
        font-weight: bold;
        font-size: 12px;
    }

    .close div#close-btn {
        display: flex;
        float: right;
        font-weight: bolder;
    }

    main .container .search-create-login .search div.search-results div.search-res {
        margin: 3px 0px;
        padding: 3px 2px;
        display: grid;
        align-items: center;
        border-bottom: 1px solid #111;
        border-radius: 5px;
        transition: all ease-in-out .3s;
        cursor: pointer;
    }

    main .container .search-create-login .search div.search-results div.search-res:hover {
        background-color: #dad5d5;
        color: #e30505;
    }

    main .container .search-create-login .search div.search-results div.search-res div.upper-hold {
        display: grid;
        grid-template-columns: 1.3fr 0.7fr;
    }

    main .container .search-create-login .search div.search-results .res-title {
        font-weight: bold;
        font-size: 14px;
    }

    main .container .search-create-login .search div.search-results .price-tot {
        font-weight: bold;
        font-size: 11px;
    }

    main .container .search-create-login .search div.search-results .prods {
        font-weight: bold;
        font-size: 12px;
    }



    main .container .search-create-login .create,
    main .container .search-create-login .login {
        display: flex;
        justify-content: unset;
        padding: 0px 10px;
    }

    main .container .search-create-login .create a,
    main .container .search-create-login .login a {
        font-size: 12px;
        height: 45px;
        width: 70px;
    }

    /* invoices tabs */
    main .container .recent-invoices {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }


    main .container .recent-invoices .title {
        font-size: 17px;
        text-align: center;
    }

    main .container .recent-invoices .list-of-rec-inv ul {
        width: 100%;
        display: grid;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item {
        display: grid;
        justify-content: center;
        margin: 5px;
        grid-template-columns: unset;
        border-radius: 10px;
        padding: 25px 10px;
        width: 80vw;
        box-shadow: 0px 3px 10px rgba(145, 139, 139, 0.689);
        cursor: pointer;
    }

    main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item:hover {
        color: #ef1616;
        transition: all ease-in-out .2s;
    }

    main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .buyer-and-item-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .buyer-and-item-div .buyer-name {
        font-weight: bold;
        font-size: 16px;
        text-indent: 5px;
    }

    main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .buyer-and-item-div .item-list,
    main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .total-amount,
    main .container .recent-invoices .list-of-rec-inv ul li.invoice-list-item .date-and-time {
        margin: 10px
    }
}